body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
}

.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 15%;
    background-color: #6F42C1;
    padding: 1rem;
    color: white;
}

.logo img {
    width: 40%; /* Increased logo size to be twice as big */
    display: block;
    margin-bottom: 50px;
    margin-left: 0;
}

.tabs {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.tabs li {
    margin-top: 1rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    text-align: left;
}

.tabs li:hover {
    background-color: #6F42C1;
    color: white;
}

.main-content {
    flex-grow: 1;
    display: flex;
    padding: 1rem;
}

.content-left {
    width: 50%;
    padding: 35px;
}

.content-left h1 {
    font-size: 70px;
    color: #000000;
    margin-bottom: 40px;
    font-family: 'Quantico', sans-serif;
}

.content-left p {
    font-size: 20px;
    color: #000000;
}

.content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 35px; /* Align with the content-left padding */
}

.content-right iframe {
    width: calc(100% - 70px); /* Adjust width considering padding */
    height: auto; /* Maintain aspect ratio */
    max-height: 315px; /* Set a maximum height */
    border-radius: 15px;
    border: none;
}

.chat-interface {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#question-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #6F42C1;
    border-radius: 20px;
    font-size: 16px;
}

#ask-button {
    background-color: #6F42C1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

#ask-button:hover {
    background-color: #5a3791;
}

.answer-box {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    padding: 20px;
    border-radius: 4px;
    background-color: #f4f5f7;
    width: 100%;
    border: 1px solid #ddd;
}

.revolutionary {
    color: #6F42C1;
}
